body {
background-color: rgb(46, 45, 46);
color: white;
}

hr {
    color: gold;
    border-bottom-style: dashed;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: gold;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: gold;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

img {
    align-items: center;
}